body {
  background: linear-gradient(90deg, #ccffff, #ffcccc);
}

h3 {
  color: rgb(138, 67, 148);
}

#div1 {
  text-align: center;
}

@media all and (max-width: 400px) {
  h1 {
    color: rgb(62, 9, 148);
  }
}