h1 {
	text-align: center;
	border: solid; color: darkred;
	font-family: sans-serif;
}

.webtext {
	text-align: center; 

}

ul {
	list-style-type: none;
	font-size: medium;
	color: red;
}

.footer {
	text-align: center;
	font-size: medium;
	border: dashed; color: darkred;
}